// @import "func";
// @include [name mixin]
// @include bordered(blue, 1px);

@mixin flexBox-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBox-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexBox-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin SeparateCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bordered($width: 2px, $color: #000) {
    border: $width solid $color;
}