@import '../styles/colors';

body {
  background-color: #282c34;
  min-height: 100vh;
  color: $textColor_1;
  padding: 50px;
  display: flex;
  text-align: center;
  justify-content: start;
}


::placeholder {
  color: $textColor_1;
}